# Ignore dependencies
node_modules/

# Ignore build output
.next/
dist/
out/

# Ignore environment variables
.env
.env.*
.env.local
server/.env
server/.env.*
client/.env
client/.env.*

# Misc
.DS_Store
.vscode/
